/* src/App.css */
.App {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #FFF0D1;
}

.statistics-section {
  display: flex;
  justify-content: center;
  gap: 40px; /* Space between stats */
  padding: 40px 20px; /* Vertical and horizontal padding */
  background-color: #FFF0D1; /* Light gray background for contrast */
}

.stat {
  text-align: center;
}

.stat h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #664343; /* Dark text for the numbers */
}

.stat p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #664343; /* Slightly lighter text for description */
}

/* Divider Styling */
/* Centered Divider Styling */
.divider {
  width: 80%; /* 80% of the screen width */
  height: 1px; /* Thin line */
  background-color: #664343; /* Light gray color */
  margin: 20px auto; /* Vertical spacing and auto centers horizontally */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); /* Optional soft shadow for depth */
}

