/* src/App.css */
.App {
  width: 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #292929;
  overflow: hidden;
}

/* Styling for the company description */
.company-description {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem; /* Adjust as needed */
  color: #FFF0D1; /* Match your theme */
  text-align: center;
  margin: 20px auto 40px; /* Space above and below */
  max-width: 1000px; /* Limit the paragraph width for readability */
  line-height: 1.6; /* Improve readability */
}


/* Title styling for the statistics section */
.statistics-title {
  font-family: "Mea Culpa", cursive; /* Use the Google Font */
  font-size: 8rem; /* Adjust size as needed */
  color: #FFF0D1; /* Match the style with your theme */
  text-align: center;
  margin: 40px 0 20px; /* Add spacing above and below */
}


.statistics-title h1 {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #FFF0D1; /* Slightly lighter text for description */
}

.statistics-section {
  display: flex;
  justify-content: center;
  gap: 40px; /* Space between stats */
  padding: 40px 20px; /* Vertical and horizontal padding */
  background-color: #292929; /* Light gray background for contrast */
}

.stat {
  text-align: center;
}

.stat h1 {
  font-size: 3rem;
  margin: 0;
  color: #FFF0D1; /* Dark text for the numbers */
}

.stat p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #FFF0D1; /* Slightly lighter text for description */
}

/* Divider Styling */
/* Centered Divider Styling */
.divider {
  width: 80%; /* 80% of the screen width */
  height: 1px; /* Thin line */
  background-color: #FFF0D1; /* Light gray color */
  margin: 20px auto; /* Vertical spacing and auto centers horizontally */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); /* Optional soft shadow for depth */
}

@media screen and (max-width: 768px) {

  .statistics-title {
    font-family: "Mea Culpa", cursive; /* Use the Google Font */
    font-size: 5rem; /* Adjust size as needed */
    color: #FFF0D1; /* Match the style with your theme */
    text-align: center;
    margin: 40px 0 20px; /* Add spacing above and below */
  }

  .company-description {
    max-width: 90%;
  }
}

/* Add the fade-in effect to all sections */
.fade-in-section {
  opacity: 0; /* Initially hidden */
  transition: opacity 1.5s ease-in-out; /* Smooth transition for fading */
}

.fade-in-section.visible {
  opacity: 1; /* Show when the section is in view */
}

/* Optional: Add other transition effects like scaling or sliding */
